body {
       background-color: rgb(228, 214, 228); /* lilás */
}

.name{  text-align: center; /* Centraliza o texto */
  color: rgb(56, 56, 206); /* Define a cor do texto como azul */
  font-size: 30px; /* Define o tamanho da fonte */
}
.text-large {
  font-family: 'Times New Roman', Times, serif, sans-serif; /* Define a fonte */
  font-size: 20px; /* Define o tamanho da fonte */
  color: rgb(1, 1, 17); /* Define a cor do texto como azul */
  text-align: justify; /* Centraliza o texto */
 
}
.list-style-top{
  margin-top: 10px; /* Adiciona uma margem superior de 5 pixels */
  margin-bottom: 10px; /* Adiciona uma margem inferior de 5 pixels */
 }

.list-style-full {  
  padding: 0; /* Remove o preenchimento da lista */
  margin: 0; /* Remove a margem da lista */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px; /* Define o tamanho da fonte */ 
}

.list-container {
  text-align: justify; /* Justifica o texto */
  margin: 8px; /* Adiciona uma margem de 20 pixels */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a fonte */
  font-size: 16px;
  text-align: justify;
}

.main-photo {
  border-radius: 6%; /* Arredonda a imagem */
  width: 600%; /* Largura da imagem */
  height: 300%; /* Altura da imagem */  
  margin: 20px; /* Adiciona uma margem de 20 pixels */
  display: block; /* Exibe a imagem como um bloco */    
  margin-left: auto; /* Centraliza a imagem horizontalmente */
  margin-right: auto; /* Centraliza a imagem horizontalmente */
  box-shadow: 0px 4px 4px 4px #fc9696; /* Adiciona sombra à imagem */
  transition: 0.3s; /* Transição suave */
}
.name:hover {
  box-shadow: 0 8px 16px #fff; /* Sombra ao passar o mouse */
}

.my-table{
width: 100%;
border-collapse: collapse; /* Remove o espaço entre as bordas */
}

.central{
 text-align: center; /* Centraliza o texto */
 
 padding: 42px; /* Adiciona um preenchimento de 10 pixels */
 font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a fonte */
 font-size: 20px; /* Define o tamanho da fonte */ 
 }
 .my-table-th{
    display: table-cell;
    border: 1px solid black;
    background-color: rgb(228, 214, 228); /* Define a cor de fundo da célula */
    color: rgb(1, 1, 17); /* Define a cor do texto */
   padding: 8px; /* Adiciona um preenchimento de 10 pixels */
    text-align: center; /* Centraliza o texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a fonte */
    font-size: 20px; /* Define o tamanho da fonte */
    column-width: 10PX;

 }